
<!-- <div>
    <h1>Parcking 2</h1>

    <a routerLink="/list">list-parcking</a>
    &nbsp;&nbsp;&nbsp;
    <a routerLink="/register">register-parcking</a>

</div> -->


<!-- <div style='margin-top: 20px'>
    <router-outlet></router-outlet>
</div> -->

<h1>Parcking 2</h1>

Professor na ora de enplementar a navegação eu não consegui fazer funcionar o codigo só a parte de html
<br /><br />
E não consegui chamar o objeto criado no app.component.ts para colocar a data de saida na lista

<br /><br />

 <form [formGroup]= "parckingForm">

Veiculo: <br />
<input type="text" size="15" formControlName='veiculoParcking'>
<div *ngIf="parckingForm.controls.veiculoParcking.invalid && 
            parckingForm.controls.veiculoParcking.touched">
    <div class='error' *ngIf="parckingForm.controls.veiculoParcking.errors?.required">
        Informe o nome do veiculo
    </div>
</div>


<br />

Placa: <br />
<input type="text" size="7" formControlName='placaParcking'>
<div *ngIf="parckingForm.controls.placaParcking.invalid && 
            parckingForm.controls.placaParcking.touched">
    <div class='error' *ngIf="parckingForm.controls.placaParcking.errors?.required">
        Informe a placa do veiculo
    </div>

    <div class='error' *ngIf="parckingForm.controls.placaParcking.errors?.minlength">
        a placa do veiculo deve te 7 digitos
    </div>
    <div class='error' *ngIf="parckingForm.controls.placaParcking.errors?.maxlength">
        a placa do veiculo deve te 7 digitos
    </div>
</div>

<br />


Motorista: <br />
<input type='text' size='40' formControlName='motoristaParcking'>
<div *ngIf="parckingForm.controls.motoristaParcking.invalid &&
            parckingForm.controls.motoristaParcking.touched">
    <div class='error' *ngIf="parckingForm.controls.motoristaParcking.invalid">
      Informe o motorista do veiculo
    </div>
</div>

<br />

Telefone: <br />
<input type="text" size='9' formControlName='telefoneParcking'>
<div *ngIf="parckingForm.controls.telefoneParcking.invalid &&
            parckingForm.controls.telefoneParcking.touched">
    <div class='error' *ngIf="parckingForm.controls.telefoneParcking.invalid">
        Informe o telefone do proprietario do veiculo
    </div>
</div>

<br />
<br />

<input type="button" value='Salvar' (click)='save()' [disabled]="parckingForm.invalid" />

</form> 





 <form>

<br />
<br />
<table border="1" style="width: 90%;">
    <thead>
        <tr>
            <th>Veiculo</th>
            <th>Placa</th>
            <th>Motorista</th>
            <th>Entrada</th>
            <th>Saida</th>
            <th>Total</th>
            <th>Encerrar</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of allParcking">
            <td>{{ c.veiculo }}</td>
            <td>{{ c.placa }}</td>
            <td>{{ c.motorista }}</td>
            <td>{{ c.entrada | date:"dd:MM:YYYY"}} às {{ c.entrada | date:"HH:mm" }}</td>
            <td>{{ c.saida }}</td>
            <td>{{ c.total }}</td>
            <td> <div *ngIf="c.total == 0"> 
                      <input type="button" value="Encerrar" click="encerrar"> 


            
                 </div>    
            
            </td>
        </tr>
    </tbody>

</table>


</form> 
