

<p>
    Conteudo da tela list
</p>
<input type="button" value="Ir para tela register" (click)="goToRegister()" />

<br />

  <form>

    <table border="1" style="width: 90%;">
        <thead>
            <tr>
                <th>Veiculo</th>
                <th>Placa</th>
                <th>Motorista</th>
                <th>Entrada</th>
                <th>Saida</th>
                <th>Total</th>
                <th>Encerrar</th>
    
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of allParcking">
                <td>{{ c.veiculo }}</td>
                <td>{{ c.placa }}</td>
                <td>{{ c.motorista }}</td>
                <td>{{ c.entrada | date:"dd:MM:YYYY"}} às {{ c.entrada | date:"HH:mm" }}</td>
                <td>{{ c.saida }}</td>
                <td>{{ c.total }}</td>
                <td> <div *ngIf="c.total == 0"> 
                          <input type="button" value="Encerrar" click="encerrar"> 
    
    
                
                     </div>    
                
                </td>
            </tr>
        </tbody>
    
    </table>
    
     
    </form> 
 


