
<p>
    Conteudo da tela register
</p>
<input type="button" value="Ir para tela list" (click)="goToList()" />

<br />

<form [formGroup]= "parckingForm">

    Veiculo: <br />
    <input type="text" size="15" formControlName='veiculoParcking'>
    <div *ngIf="parckingForm.controls.veiculoParcking.invalid && 
                parckingForm.controls.veiculoParcking.touched">
        <div class='error' *ngIf="parckingForm.controls.veiculoParcking.errors?.required">
            Informe o nome do veiculo
        </div>
    </div>
    
    
    <br />
    
    Placa: <br />
    <input type="text" size="7" formControlName='placaParcking'>
    <div *ngIf="parckingForm.controls.placaParcking.invalid && 
                parckingForm.controls.placaParcking.touched">
        <div class='error' *ngIf="parckingForm.controls.placaParcking.errors?.required">
            Informe a placa do veiculo
        </div>
    
        <div class='error' *ngIf="parckingForm.controls.placaParcking.errors?.minlength">
            a placa do veiculo deve te 7 digitos
        </div>
        <div class='error' *ngIf="parckingForm.controls.placaParcking.errors?.maxlength">
            a placa do veiculo deve te 7 digitos
        </div>
    </div>
    
    <br />
    
    
    Motorista: <br />
    <input type='text' size='40' formControlName='motoristaParcking'>
    <div *ngIf="parckingForm.controls.motoristaParcking.invalid &&
                parckingForm.controls.motoristaParcking.touched">
        <div class='error' *ngIf="parckingForm.controls.motoristaParcking.invalid">
          Informe o motorista do veiculo
        </div>
    </div>
    
    <br />
    
    Telefone: <br />
    <input type="text" size='9' formControlName='telefoneParcking'>
    <div *ngIf="parckingForm.controls.telefoneParcking.invalid &&
                parckingForm.controls.telefoneParcking.touched">
        <div class='error' *ngIf="parckingForm.controls.telefoneParcking.invalid">
            Informe o telefone do proprietario do veiculo
        </div>
    </div>
    
    <br />
    <br />
    
    <input type="button" value='Salvar' (click)='save()' [disabled]="parckingForm.invalid" />
    
    </form>